* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

@font-face {
  font-family: roobertregular;
  src: url(/RoobertTRIAL-Light-BF67243fd502239.otf);
}

@font-face {
  font-family: roobertbold;
  src: url(/RoobertTRIALVF-BF67243fd545701.ttf);
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

header {
  height: 6vh;
  width: 50vw;
  font-family: roobertregular;
  position: fixed;
  left: 26%;
  top: 2%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 0px;
  font-size: 0.9rem;
  gap: 10px;
  background-color: #fafafa;
  z-index: 999;
}

.left {
  height: 100%;
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left svg {
  height: 2.8vh;
}

.middle {
  height: 100%;
  width: 37vw;
  display: flex;
  gap: 20px;
  gap: 1;
}

.options {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
}

.right {
  height: 100%;
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hero {
  height: 100%;
  width: 100%;
  padding: 10px;
  position: relative;
}

.video-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
    position: relative;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.about {
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}



.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 192, 203, 0);
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 10px;
  z-index: 9999;
}

.servebtn {
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  color: white;
  border-left: 3px solid green;
  border-right: 3px solid green;
  font-family: roobertregular;
}

.overlay h1 {
  font-family: roobertbold;
  font-size: 100px;
  color: #fff;
}
.testimonials{
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  padding: 10px;
  position: relative;
}
.about h1{
  font-size:50px;
  font-family:roobertregular;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:999;
  text-align: center;

}

.about h1 span{
  display:inline-block;
}

.testimonial-overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 30px;

}

.text-testimonial-container{
  height: 45vh;
  width: 100%;
  border-top-left-radius: 10px;
  font-family: roobertregular;
  border-top: 2px solid #fff;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
}

.vision {
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
    position: relative;
}
.left-vision{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}
.vision h1{
    text-align: start;
}
.vision p{
  width: 60%;
  text-align: start;
}

.progress-bar-line{
  height: 70vh;
  width: 4px;
  background-color: rgb(221, 220, 220);
  position: absolute;
  left: 5%;
  bottom: 10%;

  
}
.progress-bar-line img{
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.progress-fill{
  position: absolute;
  height: 2%;
  background-color: #61E5C0;
  width: 100%;
}


.vision-text-container{
  margin-left: 10%;
  font-family: roobertregular;
  position: absolute;
  opacity: 0;
}

.vtc1{
  opacity: 1;
}
.vision-text-container h1{
  margin-bottom: 2%;
}
.right-vision{
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

}
.image-container{
  height: 80%;
  width: 80%;

  border-radius: 20px;
  overflow: hidden;

}
 .image-scroll-div{
  width: 100%;
}
.image-scroll-div img{
    display: block;
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.Parallax{
  height: 140vh;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
flex-direction: column;
justify-content: center;
font-family: roobertregular;
position: relative;
overflow: hidden;
}
.Parallax h1{
  text-align: center;
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 3%;
}

.Parallax p{
  font-size: 22px;
}
.parallax-images{
  height: 300px;
  width: 250px;
  background-color: lavender;
  position: absolute;
  border-radius: 10px;

overflow: hidden;}
.parallax-images video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pi1{
  top: 5%;
  left:15%;
}
.pi2{
  height: 270px;
  width: 250px;
  top: 7%;
  right: 15%;
}

.pi3{
  top: 40%;
  left:0.5%;
}

.pi4{
  top: 50%;
  right:-5%;
}
.pi5{
  bottom: 1%;
  left: 20%;
}
.pi6{
  bottom: 5%;
 right: 20%;
 height: 150px;
}

.canvas-section{
    height:100vh;
    width:100%;
}

canvas{
    position:sticky;
    top:0;
    width:100vw;
    height:100vh;
}